*.md
!README.md
*.npz
*.h5
*.tar.gz
.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.pytest_cache
.coverage
.ipynb_checkpoints
**/test_demo
test_demo/**/*
prompts_dev
transforms/__pycache__
*.nii.gz
*.nii

